@charset "utf-8";


/*--------------------------------------
  Structure Module
---------------------------------------*/










/*--------------------------------------
  Text Module
---------------------------------------*/
h1 {
	font-size:200%;  /* 文字の大きさ */
	text-align:center;  /* 文字の揃え */
	padding-top: 90px;  /* 空白領域のサイズ */
	background-image: url ("./image/title.png");  /* 背景に呼び出す画像URL */
	background-position: center top;  /* 背景画像の位置 */
	background-repeat: no-repeat;  /* 背景画像の表示方法 */
}

h2 {
	margin-top:50px;  /* 余白（上部）*/
	margin-bottom:20px;  /* 余白（下部）*/
	padding:5px 15px;  /* 空白領域（上下　左右）*/
	background:#f5f5f5;  /* 背景色 */
	border-left:#2f4f4f 8px solid;  /* 枠線（左部）色 スタイル（直線）*/
	font-size: 160%;  /* 文字のサイズ（相対指定） */
	font-weight: bold;  /* 文字の太さ */
	color :green;  /* 文字の色 */
}
h3 {
	font-size: 120%;
	margin: 1rem 2rem;  /* 余白（上下　左右を相対指定）*/
}

h3:first-letter {  /* 最初の文字を指定 */
	color: greenyellow;
	font-size: 150%;
}
table {
	border: medium solid #2f4f4f;  /* 枠線の装飾 */
	margin: 1rem 3rem;
}

th, td {
	border: thin solid #2f4f4f;
	padding: 0.1rem 0.5rem;
}

th {
	color: green;
	background-color: #008080;
}










/*--------------------------------------
  MENU 
---------------------------------------*/





/* ClearFix */

.menu ul {
	height: 1px;
	min-height: 1px;
	/*¥*//*/
	height: 1px;
	overflow: hidden;
	/**/
}

.menu ul :after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
